/*-------------------------------
		1.-ELEMENTS
--------------------------------*/

//============== vertical align ==============//
.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}
//============ end vertical align ============//


//============== botones ==============//
.btn-light-blue{
    background-color: #ebeff6!important;
    color: #2a4272!important;
}
//============ end botones ============//


//============== colores ==============//
.white-color{
    color: $white!important;
}
//============ end colores ============//


//============== dividers ==============//
.divider-10{
    padding-top: 5px;
    padding-bottom: 5px;
}
//============ end dividers ============//


//============== datepickers ==============//
.ui-datepicker {
    border: 5px solid $blue;
    background: $white;

    th{
        color: $black;
    }

    .ui-datepicker-title{
        color: $white;
    }

    .ui-datepicker-header {
        background: $blue;

        .ui-corner-all{
            color: $white;
        }
    }

    &:before{
        border-color: rgba(255,255,255,0) rgba(255,255,255,0) $blue rgba(255,255,255,0);
    }
}
//============ end datepickers ============//


//============ combo-box ============//
.custom-combobox-toggle{
    background: #F5F5F5;
    border: 1px solid #CFCFCF;
    border-left: none;
    color: #666;
}
//========== end combo-box ==========//


.woodbg {
    background: #ebeff6;
}


em{
    &.state-error{
        display: block!important;
        margin-top: 6px;
        padding: 0 3px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        line-height: normal;
        color: #E46B66;
        font-size: 0.85em;
    }
}

.divider-20{
    padding-top: 10px;
    padding-bottom: 10px;
}

.right{
    float: right;
}
