/*-------------------------------
		0.-CSS RESET
--------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body, html {
  line-height: 1;
  width: 100%;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

#page-loader {
  display: none; }

/*-------------------------------
		0.1.-VARIABLES
--------------------------------*/
/*-------------------------------
		1.-ELEMENTS
--------------------------------*/
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center; }

.Aligner-item {
  max-width: 50%; }

.Aligner-item--top {
  align-self: flex-start; }

.Aligner-item--bottom {
  align-self: flex-end; }

.btn-light-blue {
  background-color: #ebeff6 !important;
  color: #2a4272 !important; }

.white-color {
  color: #fff !important; }

.divider-10 {
  padding-top: 5px;
  padding-bottom: 5px; }

.ui-datepicker {
  border: 5px solid #2a4272;
  background: #fff; }
  .ui-datepicker th {
    color: #000; }
  .ui-datepicker .ui-datepicker-title {
    color: #fff; }
  .ui-datepicker .ui-datepicker-header {
    background: #2a4272; }
    .ui-datepicker .ui-datepicker-header .ui-corner-all {
      color: #fff; }
  .ui-datepicker:before {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #2a4272 rgba(255, 255, 255, 0); }

.custom-combobox-toggle {
  background: #F5F5F5;
  border: 1px solid #CFCFCF;
  border-left: none;
  color: #666; }

.woodbg {
  background: #ebeff6; }

em.state-error {
  display: block !important;
  margin-top: 6px;
  padding: 0 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: normal;
  color: #E46B66;
  font-size: 0.85em; }

/*-------------------------------
		2.-MODULES
--------------------------------*/
.smart-container.login, .smart-container.ingreso-muestra, .smart-container.recuperar-contrasena {
  background-color: #fff; }

.smart-forms .header-primary {
  background-color: #2a4272;
  border-top: 1px solid #3f62aa;
  border-bottom: 5px solid #253b66; }
.smart-forms .gui-input {
  background-color: #fff !important;
  border: 1px solid #CFCFCF; }
.smart-forms .form-footer {
  background: #2a4272 url(../images/foobg.png) top left repeat-x; }
.smart-forms.login .form-header.Aligner, .smart-forms.recuperar-contrasena .form-header.Aligner {
  display: block; }
.smart-forms.login .form-header h4, .smart-forms.recuperar-contrasena .form-header h4 {
  display: inline-block; }
.smart-forms.login .form-header .logo, .smart-forms.recuperar-contrasena .form-header .logo {
  display: inline-block;
  width: 60px;
  float: right; }
.smart-forms.ingreso-muestra .gui-textarea {
  background-color: #fff !important;
  border: 1px solid #CFCFCF; }
.smart-forms.ingreso-muestra .gui-input {
  padding-left: 35px; }

.navbar {
  background-color: #2a4272;
  border-color: #2a4272;
  border-radius: 0;
  padding: 10px; }
  .navbar a {
    color: #fff !important;
    font-family: "Roboto", Arial, Helvetica, sans-serif; }
  .navbar .logo {
    width: 75px; }
  .navbar .cerrar-sesion {
    margin-top: 8px; }

/*# sourceMappingURL=main.css.map */
